<h1 class="h3 mb-4 text-gray-800">PATIENT REQUESTS
  <span class="badge badge-danger badge-counter">{{total}}</span>
</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>CID</th>
      <th>HN</th>
      <th>FULLNAME</th>
      <th>SYMPTOM</th>
      <th>#</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items; let idx = index"
      [ngClass]="{'table-warning': item.status === '1', 'table-success': item.status === '2', 'table-danger': item.status === '0'}">
      <td>{{ idx+1 }}</td>
      <td>{{ item.cid }}</td>
      <td>{{ item.hn }}</td>
      <td>{{ item.first_name }} {{ item.last_name }}</td>
      <td>{{ item.symptom }}</td>
      <td>
        <div class="btn-group">
          <button class="btn btn-info" (click)="openInfo('xx')">INFO</button>
          <button class="btn btn-warning" (click)="openMap(item.lat, item.lng)">MAP</button>
          <button class="btn btn-primary" (click)="updateStatus(item.register_id, item.request_id, '2')">ACCEPT</button>
          <button class="btn btn-danger" (click)="updateStatus(item.register_id, item.request_id, '0')">REJECT</button>
          <button class="btn btn-success"
            (click)="updateStatus(item.register_id, item.request_id, '5')">COMPLETE</button>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<app-modal-info #modalInfo [hn]="hn"></app-modal-info>
