<h1 class="h3 mb-4 text-gray-800">PATIENT REQUESTS
  <span class="badge badge-danger badge-counter">{{total}}</span>
</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>CID</th>
      <th>HN</th>
      <th>FULLNAME</th>
      <th>SYMPTOM</th>
      <th>#</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>1235465687983</td>
      <td>0098990</td>
      <td>SATIT RIANPIT</td>
      <td>นอนไม่ค่อยหลับก ปวดศีรษะ</td>
      <td>
        <div class="btn-group">
          <button class="btn btn-info" (click)="openInfo('xx')">INFO</button>
          <button class="btn btn-primary">ACCEPT</button>
          <button class="btn btn-danger">REJECT</button>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<app-modal-info #modalInfo [hn]="hn"></app-modal-info>
